<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Key in your new baked goods</h1>

    <form action="/create" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="price" name="price">
        <input type="text" placeholder="image link" name="image">
        <button type="submit">Submit</button>
    </form>

</body>
</html>