<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Name: <%=bakeList.name %></h2>
    <h3>Price: <%=bakeList.price %></h3>

    <p><a href="/bakelist"><- Back</a></p>

    <img src="<%=bakeList.image; %>"/>


    
</body>
</html>